/*------------------------------------*\
    #SECTION-TOUR
    Stylesheets for tour full
    information pages
\*------------------------------------*/
/**
 * 
 * #SECTION-TOTAL
 *
 * #SECTION-HEADER
 *
 * #SECTION-CAROUSEL
 *
 * #SECTION-MAIN
 *
 * #SECTION-GENERAL-INFO
 *
 * #SECTION-FOOTER
 *
 * #SECTION-TOUR-REQUEST-POP-UP
 *
 * #SECTION-SCROLL-UP
 * scrool-up button styles
 *
 * #SECTION-COLORS
 * colors for attention and tour-type blocs
 *
 */

/*------------------------------------*\
    #SECTION-TOTAL
\*------------------------------------*/

* {
	margin: 0;
	padding: 0;
}

html {
    font-family: Helvetica, 'Open Sans', Arial, sans-serif; 
}

body {
    position: relative;
}

[class$="metainfo"] {
    display: none;
}

/* HTML5 compatibility */
article, aside, details, figcaption, figure, 
footer, header, hgroup, nav, section {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

a img {
    border: none;
}

ul {
    margin-left: 15px;
}

.row {
    padding: 0 0;
}

h2 {
    font-size: 1em;
}






/*------------------------------------*\
    #SECTION-HEADER
\*------------------------------------*/

header {
    height: 56px;
    padding: 5px 10px 0;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
}

    .logo {
        
    }
    
    .phones {
        padding-left: 40px;
        color: #404040;
    }
    
        .phones div {
            float: left;
            font-size: 0.75em;
            line-height: 1.35em;
        }
        
        .phones div:first-child {
            margin-right: 7px;
        }
        
        .phones div:last-child {
            color: #808080;
        }





/*------------------------------------*\
    #SECTION-CAROUSEL
\*------------------------------------*/

.carousel__wrapper {
    margin-top: 7px;
    border-bottom: 1px solid #cccccc;
}

    .carousel__frame {
    }
    
        .carousel__frame img {
            max-height: 250px;
        }
    
    .carousel__left, .carousel__right {
        bottom: 40px;
        border: 1px solid #9eb3ff;
    }
    
    .carousel__left {
        left: 10px;
    } 
    
    .carousel__right {
        right: 10px;
    }

        .carousel__left img, .carousel__right img {
            opacity: 0.5;
        }
        
        .carousel__left:hover, .carousel__right:hover {
            border: 1px solid #9eb3ff;
        }
        
        .carousel__left:hover img, .carousel__right:hover img {
            opacity: 1;
        }
    
    .carousel__controls {
        bottom: 20px;
    }





/*------------------------------------*\
    #SECTION-MAIN
\*------------------------------------*/

main {
    padding: 0 20px 0;
    color: #404040;
}
    
    
/*  tour details  */
main h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
}
        
        
/*  tour order button  */
.tour-order {
    margin-top: 17px;
}

    .tour-order label {
        display: block;
        position: relative;
        width: 100%;
        height: 55px;
        padding-left: 30px;
        background: url("../img/call-90-white.png") no-repeat 20px center
                    #33b679;
        background-size: 45px 45px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #33b679;
        text-align: center;
        font-size: 0.875em;
        line-height: 55px;
        color: #ffffff;
        cursor: pointer;
    }
    
    .tour-order label:active {
        background: url("../img/call-90-white.png") no-repeat 20px center
                    #0f9d58;
        background-size: 45px 45px;
        border: 1px solid #0f9d58;
   }
        
        
/*  tour details  */
.tour-details {
    margin-top: 40px;
    margin-bottom: 40px;
}

    .tour-details [class^="col"] {
        margin-bottom: 10px;
    }

    .brief-info {
        display: table-cell;
        height: 50px;
        padding-left: 10px;
        vertical-align: middle;
    }

    .tour-details [class^="icon"] {
        float: left;
        height: 40px;
        width: 40px;
        margin-top: 5px;
        background: url("../img/sprite-grey-999.png") no-repeat;
        background-size: 292px 40px;
    }
    
    .tour-details .icon-fly {
        background-position: -1px 0px;
    }
    
    .tour-details .icon-hotel {
        background-position: -43px 0px;
    }
    
    .tour-details .icon-accomodation {
        background-position: -86px 0px;
    }
    
    .tour-details .icon-room {
        background-position: -127px 0px;
    }
    
    .tour-details .icon-type {
         background-position: -169px 0px;
    }
    
    .tour-details .icon-price {
        background-position: -211px 0px;
    }
    
    .tour-details .icon-operator {
        background-position: -253px 0px;
    }
    
    
    .tour-details .note {
        margin-top: 10px;
        font-size: 0.75em;
        color: #999999;
    }
    
    .tour-details .visa {
        margin-top: 10px;
        font-size: 0.875em;
        color: #C89600;
    }


/*  hotel details visibility switch  */
.th-switch {
    padding-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #cccccc;
}
 
.switch ,
.hd-close, 
.hotel-details {
    display: none;
}

.hd-open, .hd-close {
    color: #3c4899;
    font-size: 0.875em;
    cursor : pointer;
}

    .hd-open span,
    .hd-close span    {
    font-size: 0.75em;
    }

#hotel-details:checked~div .hd-close,
#hotel-details:checked~.hotel-details {
    display: block;
}

#hotel-details:checked~div .hd-open {
    display: none;
}
    
    
/*  hotel details  */
.hotel-details {
    margin-top: 10px;
}

    .hotel-details [class^="col"] {
        margin-bottom: 20px;
    }
    
    .hotel-details p, .hotel-details ul,  .hotel-details a {
        font-size: 0.875em;
    }
    
        .hotel-details a {
            word-break: break-all;
            word-wrap: break-word;
        }
        
        .hotel-description {
            margin-top: 20px;
            margin-bottom: 30px;
        }

    .hotel-details [class^="icon"] {
        float: left;
        height: 40px;
        width: 40px;
        margin-top: 5px;
        background: url("../img/sprite-h-grey-999.png") no-repeat;
        background-size: 490px 40px;
    }
    
    .hotel-details .icon-site {
        background-position: -450px 0px;
    }
    
    .hotel-details .icon-distance {
        background-position: -405px 0px;
    }
    
    .hotel-details .icon-in-room {
        background-position: -360px 0px;
    }
    
    .hotel-details .icon-available {
        background-position: -315px 0px;
    }
    
    .hotel-details .icon-territory {
        background-position: -270px 0px;
    }
    
    .hotel-details .icon-pool {
        background-position: -225px 0px;
    }
    
    .hotel-details .icon-children {
        background-position: -180px 0px;
    }
    
    .hotel-details .icon-services {
        background-position: -135px 0px;
    }
    
    .hotel-details .icon-beauty {
        background-position: -90px 0px;
    }
    
    .hotel-details .icon-party {
        background-position: -45px 0px;
    }
    
    .hotel-details .icon-sport {
        background-position: 0px 0px;
    }






/*------------------------------------*\
    #SECTION-GENERAL-INFO
\*------------------------------------*/

.general-info {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e9e9e9;
}

    .general-info>div:not(.about-us) {
        padding-top: 35px;
        font-size: 0.75em;
    }
        
        .general-info li {
            margin-bottom: 7px;
        }
    
        .general-info>div div  {
            margin-top: 35px;
            padding: 35px 0;
            border-top:  1px solid #cccccc;
        }
        
    .about-us {
        padding-bottom: 35px;
    }
    
        .about-us a {
            display: block;
            width: 100%;
            height: 55px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            border: 1px solid #4285f4;
            text-align: center;
            font-size: 0.875em;
            line-height: 55px;
            color: #3C4899;
            text-decoration: none;
            cursor: pointer;
        }
        
        .about-us a:active {
            border: 1px solid #4285f4;
            background-color:#cccccc;
        }





/*------------------------------------*\
    #SECTION-FOOTER
\*------------------------------------*/

footer {
    height: 56px;
    padding: 18px 10px;
    background-color: #4d4d4d;
    text-align: center;
    color: #ffffff;
    font-size: 0.5625em;
}

    footer a {
        color: #ffffff;
    }





/*------------------------------------*\
    #SECTION-TOUR-REQUEST-POP-UP
\*------------------------------------*/

#tour-request:checked+.tour-request {
    display: block;
}

.tour-request {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-left: 20px;
    padding-right:20px;
    padding-bottom: 20px;
    background-color: #ffffff;
    overflow: auto;
    z-index: 100;
}

    .req-close {
        position: absolute;
        top: 5px;
        right: 0px;
        margin-top: 0px;
        margin-right: 5px;
        font-size: 3em;
        line-height: 0.5em;
        color: #525252;
        cursor: pointer;
    }

    .request-greeting {
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        font-size: 1.125em;
        line-height: 1.5em;
    }
    
    .rq-button {
        display: inline-block;
        width: 40%;
        height: 55px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #33b679;
        background-color:#33b679;
        font-family: Helvetica, 'Open Sans', Arial, sans-serif; 
        font-size: 0.875em;
        color: #ffffff;
        cursor: pointer;
    }
    
    .rq-button:active {
        border: 1px solid #0f9d58;
        background-color:#0f9d58;
    }

    label.rq-button {
        float: right;
        border: 1px solid #33b679;
        background-color:#ffffff;
        color: #000000;
        text-align: center;
        line-height: 53px;
    }
    
    label.rq-button:active {
        border: 1px solid #0f9d58;
        background-color:#cccccc;
    }
    
    .request-form>label {
        margin-bottom: 5px;
    }

    .request-form>input {
        margin-bottom: 10px;
        height: 25px;
    }

    .request-form>textarea {
        margin-bottom: 20px;
    }
    
        .request-form>input,
        .request-form>textarea {
            position: relative;
            padding-left: 7px;
            border: 1px solid #cccccc;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }
        
        [name="tour-id"] {
            background-color: #e6e6e6;
            color: #808080;
        }

    




/*------------------------------------*\
    #SECTION-SCROLL-UP
\*------------------------------------*/

#scrollup {
    display: none; 
    position: fixed; 
    padding: 10px 10px; 
    border-radius: 5px; 
    right: 10px;
    bottom: 10px; 
    background: rgba(255,255,255,0.5);
    border: 1px solid #9eb3ff;
    cursor: pointer;
}

    #scrollup img {
        opacity: 0.5;
    }

    #scrollup:hover img {
        opacity: 1;
    }





/*------------------------------------*\
    #SECTION-COLORS
\*------------------------------------*/

.attention--strong {
    color: #db4437;
}

.attention--soft {
    color: #f4b400;
}

.hotest {
    color: #27bf15;
}

.hot {
    color: #cc2f3a;
}

.premium {
    color: #ff9d00;
}

.extrim {
    color: #1966aa;
}
